.adminSwitch {
  /* Base styles */
  position: relative;
  width: 68px;
  height: 40px;
  background-color: var(--Mapped-Surface-Dark);
  border-radius: 88px;
  transition: all 0.2s ease;
}

/* Checked state */
.adminSwitch[data-state="checked"] {
  background-color: var(--Mapped-Surface-Button-Secondary);
}

/* Thumb styles */
.adminSwitch[data-state="checked"] > span {
  transform: translateX(30px);
  background-color: var(--Mapped-Surface-Primary);
  background-image: url('https://karm-crm.s3.ap-south-1.amazonaws.com/assets/AdminSwitch/admin-switch-on.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transition: all 0.2s ease;
}

.adminSwitch[data-state="unchecked"] > span {
  transform: translateX(2px);
  background-color: var(--Mapped-Surface-Primary);
  background-image: url('https://karm-crm.s3.ap-south-1.amazonaws.com/assets/AdminSwitch/admin-switch-off.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transition: all 0.2s ease;
}

/* Hover state */
.adminSwitch:hover:not(.disabled) {
  background-color: var(--Surface-Dark, #f7e9e9);
}

.adminSwitch[data-state="checked"]:hover:not(.disabled) {
  background-color: var(--Mapped-Surface-Button-Secondary);
}

/* Disabled state */
.adminSwitch.disabled {
  cursor: not-allowed;
  background-color: var(--Surface-Disabled, #d3ced0);
  border-color: var(--Text-Disabled-1, #b7afb2);
}

.adminSwitch.disabled > span {
  background-color: var(--Text-Quaternary, #8c8084);
  opacity: 0.5;
}
